
   body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol{ 
list-style-type: none;
}

a{
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.nav-link {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
color: #2E2F42;
}

.address {
    font-style: normal;
}

.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus{
    color: #404BBF;
}



.page-footer {
    background-color: #2E2F42;
}

.hero {
  background-color: #2E2F42;
}

.hero-title {
  color: #ffffff;
text-align: center;
}

.hero-button {
  color: #ffffff;
  background-color: #4D5AE5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}

